<nav id="navbar">
    <ul>
        <li><a href="/">Voltar</a></li>
    </ul>
</nav>

<div class="officers-container">
    <h1>Oficiais Cadastrados:</h1>
    {{#each officers}}
        <div class="item">
            <p>{{this.name}}</p>
            <p>{{this.rank}}</p>
            <a href="/officer/details/{{this.id}}">Ver detalhes</a>
        </div>
    {{/each}}
</div>
