<nav id="navbar">
    <ul>
        <li><a href="/">Voltar</a></li>
    </ul>
</nav>


<div class="officer-container">
    <h1>Detalhes do Oficial</h1>
    <div class="item">
        <p>{{officer.name}}</p>
        <p>{{officer.rank}}</p>
    </div>
</div>