<nav id="navbar">
    <ul>
        <li><a href="/officer/showAll">Voltar</a></li>
    </ul>
</nav>


<div class="officer-container">
    <h1>Detalhes do Oficial</h1>
    <div class="item">
        <p>{{officer.name}}</p>
        <p>{{officer.rank}}</p>
        {{#if officer.active}}
            <p>Ativo</p>
        {{else }}
            <p>Reserva</p>
        {{/if}}
        <a href="/officer/edit/{{officer.id}}">Editar</a>
    </div>
</div>